<div class="page-wrapper">

    <div class="page-header">
        <div class="page-header-title">
            <h4>Breadcrumb</h4>
            <span> <a href="javascript:void(0)"> Add Face</a>  </span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="#!">Pages</a>
                </li>
                <li class="breadcrumb-item"><a href="#!">Sample page</a>
                </li>
            </ul>
        </div>
    </div>
    {% include 'views/monitor/view-table-tagged-faces.html' %}

</div>
