<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/tether/dist/js/tether.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/modernizr/modernizr.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/plugins/modernizr/feature-detects/css-scrollbars.js') }}"></script>
<!-- classie js -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/classie/classie.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pcoded.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/demo-12.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.mousewheel.min.js') }}"></script>
